body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  color: white;
  background: black;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  z-index: 2;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 2px dotted white;
  padding: 6px 10px 5px 10px;
}

nav a:hover {
  text-decoration: none;
  animation-name: enlight-nav 1.5s ease-out forwards;
  cursor: hand; 
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#quote-container {
  font-family: 'Poiret One';
  flex-grow: 1;
  font-size: 2.5em;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

cite {
  align-self: flex-end;
  font-size: 0.7em;
  font-style: italic;
  color: #b09c9c;
  margin-right: 20px;
}

.icon-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 3em;
  margin: 20px 0px;
  text-align: right;
}

#scaler, #spinner {
  margin: 0px 10px;
  display: inline-block;
}

i:hover {
  color: #4099ff;
  cursor: pointer;
}

.scale {
  -webkit-animation: scaling 1s infinite; /* Safari 4+ */
  -moz-animation:    scaling 1s infinite; /* Fx 5+ */
  -o-animation:      scaling 1s infinite; /* Opera 12+ */
  animation:         scaling 1s infinite; /* IE 10+, Fx 29+ */
}

.rotate {
  -webkit-animation: rotation 2s infinite; /* Safari 4+ */
  -moz-animation:    rotation 2s infinite; /* Fx 5+ */
  -o-animation:      rotation 2s infinite; /* Opera 12+ */
  animation:         rotation 2s infinite; /* IE 10+, Fx 29+ */
}

.enlight {
  animation: enlight 1s ease-out 1;
}

/** ANIMATION */
@keyframes rotation {
  from { 
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  to { 
    -ms-transform: rotate(359deg); /* IE 9 */
    -webkit-transform: rotate(359deg); /* Chrome, Safari, Opera */
    transform: rotate(359deg);
  }
}


@keyframes scaling {
  0% { 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
  50% { 
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);
  }
  100% { 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
}


@keyframes enlight { 
  0% { color: #4099ff; }  
  20% { color: #3a3acd; }  
  80% { color: #3a3acd; }  
  100% { color: #4099ff; } 
}

@keyframes enlight-nav { 
  0% { color: white; }  
  20% { color: Chartreuse; }  
  80% { color: Chartreuse; }  
  100% { color: white; } 
}

/** MEDIA QUERY */
@media (min-width: 450px) {
  .icon-container, cite {
    margin-right: 50px;
  }
  #scaler {
    margin-right: 30px;
  }
}


/** MEDIA QUERY */
@media (min-width: 600px) {
  .icon-container, cite {
    margin-right: 50px;
  }
  #scaler {
    margin-right: 30px;
  }
}



@media (min-width: 1000px) {
  #scaler {
    margin: 0px 50px;
  }
}