body, html {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

i {
  margin: 0px 10px;
}

i:hover{
  color: #4099ff;
  cursor: pointer;
}

.no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-twitter:hover {
  -webkit-animation: scaling 1s infinite; /* Safari 4+ */
  -moz-animation:    scaling 1s infinite; /* Fx 5+ */
  -o-animation:      scaling 1s infinite; /* Opera 12+ */
  animation:         scaling 1s infinite; /* IE 10+, Fx 29+ */
}

.fa-refresh:hover {
  -webkit-animation: rotation 2s infinite; /* Safari 4+ */
  -moz-animation:    rotation 2s infinite; /* Fx 5+ */
  -o-animation:      rotation 2s infinite; /* Opera 12+ */
  animation:         rotation 2s infinite; /* IE 10+, Fx 29+ */
}


/** ANIMATION */
@keyframes rotation {
  from { 
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  to { 
    -ms-transform: rotate(359deg); /* IE 9 */
    -webkit-transform: rotate(359deg); /* Chrome, Safari, Opera */
    transform: rotate(359deg);
  }
}

/** ANIMATION */
@keyframes scaling {
  0% { 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
  50% { 
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
    transform: scale(1.3);
  }
  100% { 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }
}

/** MEDIA QUERY */
@media (min-width: 600px) {
  i {
    margin: 0px 50px;
  }
}

@media (min-width: 250px) {
  i {
    margin: 0px 25px;
  }
}

@media (min-width: 1000px) {
  i {
    margin: 0px 75px;
  }
}